* {
    font-family: 微軟正黑體;
}


body {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(images/圖片2.jpg);
  backdrop-filter: blur(3px);
  height: 97vh;
  background-size: contain;
}

.signup{
  position: absolute;
  top: 40px;
  right:10px;
}
.LOGO{
  transform: scale(0.15);
  position: absolute;
  bottom:170px;
  left: -580px;
}
nav {
  width: calc(100% - 60px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 30px; */
}

nav p {
  font-size: 15px;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
nav ul li {
  /* padding: 10px; */
  color: #fff;
  cursor: pointer;
}
nav ul li button {
  background-color: transparent;
  border: 1px solid #808080;;
  border-radius: 50px;
  color: #808080;;
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  cursor: pointer;
}
nav i {
  padding-right: 5px;
  position: absolute;
  top: 52px;
  right:82px;
}
#username1,#password,#fullname,#confirm_password,#username2,#password2 {
    width: 240px;
    height: 20px;
    margin: 10px;
    color: black;
}

h1 {
  font-size: 40px;
  text-align: center;
  color: #808080;
  font-family: 'Bowlby One SC', cursive;
  position: absolute;
  top: 80px;
} 
.form1 {
  width: 300px;
  background: #fff;
  padding: 40px 50px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 5px #424242;
  position: absolute;
  top: 50%; /* 上边距设置为50% */
  left: 50%; /* 左边距设置为50% */
  transform: translate(-50%, -50%); /* 使用transform将form居中 */
}
.form2 {
  width: 300px;
  background: #fff;
  padding: 10px 50px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 5px #424242;
  position: absolute;
  top: 50%; /* 上边距设置为50% */
  left: 50%; /* 左边距设置为50% */
  transform: translate(-50%, -50%); /* 使用transform将form居中 */
}
  
  form label {
    color: #808080;
    font-size: 16px;
    max-width: 150px;
  }
  form label i {
    padding-right: 5px;
  }
  form a {
    font-size: 16px;
    text-align: center;
    color: #808080;
  }
  p {
    font-size: 12px;
    color: #fff;
  }
  p a {
    color: #fff;
  }
  
input {
  padding: 5px;
  border: none;
  border: solid 1px #ccc;
  border-radius: 20px;

} 
.submit {
  color: white;
  background: lightgrey;
  width: 250px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
  border: 0px;
}

.submit:hover {
  background: grey;
}

/* .login_page{
    position: absolute;
    top:200px;
    left:650px;
    background-color:white;
    border-radius: 50px;
    z-index: 999;
} */
/* .signup_page{
    position: absolute;
    top: 200px;
    left:650px;
    background-color: beige;
    border-radius: 50px;
    z-index: 999;
} */





/* #copyright {
    text-align: center;
    color: #a3a2a3;
    margin: -200px 0px 0px 0px;
    font-size: 14px;
} */

footer{
    height: 20%;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-self: center;
    align-items: center;
  }
footer p{
  color: #a3a2a3;
}
 

