    *{
        font-family:Microsoft JhengHei;
        font-weight: bold;
    }
    body{

        background-color: whitesmoke;
        margin:0px;
    }

    h1{
        color:black;
        font-size:30px;
    }

    ul{
        list-style-type: none; /* 取消ul點點 */
        padding:0px;/* 取消左邊空間0px (增加空間0px)  */
        margin:0;
        background-color: rgb(235, 233, 233);
        height: 125px;
        overflow:hidden;
    }


    li{
        
        display: inline-block;
        /* border-right: 1px solid black; 加右邊黑線1px */
    }
    nav{
        text-align: center;
    }
    li a{
        display: block;
        padding: 10px;
        text-decoration: none;
        font-size: 20px;
        text-align: center;
        line-height: 100px;
        color:rgb(12, 12, 12);
        font-weight:bold;
    }

    li a:hover{
        color: rgb(2, 119, 2);
    }
    .home{
        width:auto;
        border: 5px double;
        padding:280px ;
        margin:50px;
    }
    hr{
        border: black 1px solid;
    }
    -----------------------------------
    /*下拉式選單*/
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: absolute;
        top: 47px;
        left:1015px; 
        font-size: 20px;
        font-weight:bold;
        display: inline-block;
        text-align: left; 
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 9999;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {background-color: #f1f1f1}

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        color: rgb(2, 119, 2);
    }
    /*股票書籍*/

    .store1 img{
        width: 200px;
        height: 200px;
        box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.7);
    }
    .book1{
        position: absolute;
        top:130px;
        left: 100px;
        
    }
    .book2 {
        position: absolute;
        top: 130px;
        left:400px;
    }
    .book3{
        position: absolute;
        top: 130px;
        left: 700px;
    }
    .book4{
        position: absolute;
        top: 130px;
        left: 1000px;
    }
    .book5{
        position: absolute;
        top: 130px;
        left: 1300px;
    }
