.home {
    position: absolute;
    width: 20vw;
    height: 20vh;
    border: 5px double;
    padding: 100px 1000px 300px 100px;
    margin: 45px;
    display: flex;
    /* justify-content: space-between; */
}

.bookinfo {
    display: grid;
}

.review_field {
    display: inline;
    position: right;
}