header {
    height: 100%;
    background-color: rgb(188, 174, 165);
}
div.logo a {
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: bold;
    display: flex;
    text-align: left;
    text-decoration: none;
}
.menu {
    display: block;

}
div.title {
    text-align: center;
}
li.nav-item a {
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
nav.navbar {
    margin-top: 50px;
    font-weight: bold;
    line-height: 50px;
    display: inline-block;
}
nav ul.navgroup {
    width: 100%;
    padding: 10px 10px 10px 10px;
}
nav ul li {
    list-style: none;
    border: 1px solid;
    padding: 10px;
    text-align: center;
}
div.container {
    border: 5px solid;
    display: inline-flex;
    margin: 80px;
}
.nav-item {
    background-color: transparent !important;
}
.nav-item:hover {
    border-radius: 50px;
}

